*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.circle{
    border-radius: 50%;
    background-color: blue;
    height: 200px;
    width: 200px;
    animation-name: bounceing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes bounceing {
    from{
        border-radius: 50%;
        background-color: blue;
        height: 200px;
        width: 200px;
    }
    to{
        transform: translateY(-100px);
    }
}