body{
    height: 100vh;
}

.square{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: blue;
    /* left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px; */
}
.square2 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: red;
}

/* 
relative

absolute
fixed 
sticky
*/