@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Rubik+Vinyl&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", serif;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
section{
    background-color:hsl(0, 0%, 100%);
    color: black;
    display: flex;
    justify-content: start;
    align-items: start;
    border-radius: 15px;
}
img{
    width: 20rem;
    border-radius: 15px;
}
.text-contain
|||
?;l   m   
}b jhgbv hgg vhg bvb n                              
.text-container h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9rem;
    opacity: 50%;
}
h1{
    font-family: "Francues", serif;
    font-size: 2.3rem;
}
.desc{
    font-size: 0.9rem;
    opacity: 50%;
    font-weight: 500;
    line-height: 24px;

}
.price{
    font-family: "Francues", serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.price span{
    font-size: 0.7rem;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    opacity: 80%;
    font-weight: 500;
}
button{
    padding: 15px 100px;
    background-color:hsl(158, 36%, 37%); 
    border-radius: 10px;
    border: none;
}
button:hover{
    transition: 0.5s;
    background-color: green;
    color: white;
}