*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(204, 43%, 93%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Karla", serif;
}
section{
    display: grid;
    width: 610px;
    height: 470px;

} 

.community{
    font-size: 16px;
    background-color:#fff;
    padding: 40px;
}
.community h2 {
    color: hsl(179, 62%, 43%);
}
.community h3{
    color: hsl(71, 73%, 54%);
}
.community p {
    opacity: 70%;
}
.monWhy{
    height:270px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.subs{
    background-color: hsl(179, 62%, 43%);
    color: #fff;
    flex-direction: column;
    line-height: 50px;
    padding: 30px;
}
.mon{
    opacity: 70%;
    
}
.price{
    display: flex;
    
}
.WhyUs{
    background-color:hsl(180, 45%, 59%);
    display: flex;
    flex-direction: column;
    padding: 37px;
    color: #fff;
    line-height: 25px;
}
.WhyUs p {
    opacity: 70%;
}
button{
    width: 210px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: hsl(71, 73%, 54%);
    color: #fff;
    cursor: pointer;
}
button:hover{
    background-color: green;
    transition: 1s;
}