*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mother{
    gap: 20px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 50px;
    justify-content: center;
    
}
.son{
    background-color: black;
}
@media(max-width:700px){
    .mother{
        display: grid;
        grid-template-columns:200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
    }
}
@media(max-width:450px){
    .mother{
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows:200px 200px 200px 200px 200px 200px 200px 200px 200px;
    }
}
