body{
    height: 100vh;
    display: flex;
    justify-content:;
    align-items: center;
}
main{
    width: 1000px;
    height: 800px;
    border: 10px solid black; 
}
div{
    width:px solid black;
    height: 800px;
    background-color: red;
    border: 5px solid black;
}
main{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
