@font-face{
    font-family:Lexend;
    src:url("../src/assets/Fonts/Lexend-Bold.ttf")
}

@import "tailwindcss";

@theme{
    --font-Lexen: Lexend, "sans-serif"
}

@theme{
    --font-LexenNormal: Lexend,"sans-serif"
}

@theme{
    --color-background-hero: #f2f0f1
}