
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section{
    font-family: "DM Sans", serif;
    display:grid;
    grid-template-rows:20% 25% 25% 20%  ;
    grid-template-columns: 20% 25% 25% 20% ;
    height: 100vh;
    gap: 20px;
    padding: 100px;
}
.mainDes{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: hsl(256, 67%, 59%);
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainDes h1{
    font-size: 80px;
    line-height: 70px;
}
.mainDes span {
    color: hsl(39, 100%, 71%);

}
.ten{
    color: hsl(39, 100%, 71%);
}
.over{
position: relative;
bottom:-140px;
right: -330px;

}
.mainDes span{
    font-size: 16px;
    justify-content: center;
    align-items: end;
}
.content{
    order: -1;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: hsl(31, 66%, 93%);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    padding-top: 80px;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
}
.content h2 {
    line-height: 55px;
}
.content button{
    width: 200px;
    height: 55px;
    border-radius: 30px;
    font-size: 18px;
    background-color:hsl(39, 100%, 71%); 
    color: hsl(256, 67%, 59%);
    font-weight: 700;
    border: none;
    cursor: pointer;
    position: relative;
    top: 30px;
}
.content button:hover{
    transition: 0.8s;
    background-color: yellowgreen;
    color: black;
    
}
.content img {
    width: 40px;

}
.Socmed {
    display: grid;
    grid-column-start:4;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: hsl(254, 88%, 90%);
    border-radius: 15px;
}
.Socmed img {
    position: relative;
    top: 110px;
    left: 10px;
    width: 400px;

}
.Socmed h2{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}
.Socmed p {
    font-size: 20px;
}
.AI{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    order: -1;
    border-radius: 15px;
    background-color: hsl(39, 100%, 71%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.AI h2 {
    font-size:60px;
    padding-left: 20px;
    padding-top: 20px;
}
.AI img {
    width: 100%;
    height: 50%;
    padding-bottom: 30px;
    padding-left:25px ;
}
.accPlat{
    background-color: #eeecec;
    border-radius: 15px;
    font-size: 30px;
}
.accPlat img{
    padding-top: 10px;
    width: 550px;
    padding-left: 15px;
}
.schedule{
    background-color:hsl(39, 100%, 71%);
    position: relative;
    border-radius: 15px;
    display: grid;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.schedule h2 {
    font-size: 60px;
    padding-top: 50px;
    padding-left: 25px;
}
.schedule img {
    padding-left: 23px;
    padding-top:200px;
}
.Follow{
    display: grid;
    grid-column-start: 5;
    grid-column-end:2;
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color:hsl(256, 67%, 59%);
    padding-left: 30px;
}
.Follow h2 {
    color: #fff;
    font-size: 70px;
    
}
.Follow img {
    width:25%;
}
.fasterAud{
    background-color: #eeecec;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;

}
.percent{
    font-size: 100px;
    
}
