*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 200vh;
}
header{
    width: auto;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 100px;
    background-color: darksalmon;
}
header img{
    width: 90px;
    height: 90px;
    padding-top: 5px;
    border-radius: 60px;
}
header li{
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin-top: 30px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}
header li ol:hover{
    color: black;
    transition: 0.8s;
}
header i {
    color: #fff;
    font-size: 24px;
    padding-top: 28px;
}
.header-icons{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
@media(max-width:800px){
    header li{
        position: absolute;
        left: 2000px;
    }
}
.hero{
    background-color:antiquewhite;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 150px;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.hero img{
    width: 400px;
}
.kimichi-p{
    border-radius: 16px;
    width:350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    position: absolute;
    top: 330px;
    background-color: #fff;
}
.kimichi-p i {
    cursor: pointer;
    padding-left: 90px;
    font-size: 25px;
}
.kimichi-p i:hover{
    color: blue;
    transition: 0.8s;
}
.shakshuka-p{
    border-radius: 16px;
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    position: absolute;
    top: 690px;
    background-color: #fff;
}
.shakshuka-p i {
    cursor: pointer;
    padding-left: 50px;
    font-size: 25px;
}
.beef-p{
    border-radius: 16px;
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    position: absolute;
    top: 1070px;
    background-color: #fff;
}
.beef-p i{
    cursor: pointer;
    padding-left: 50px;
    font-size: 25px;
}
.beef-p i:hover{
    color: blue;
    transition: 0.8s;
}
.caprese-p{
    border-radius: 16px;
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    position: absolute;
    top: 1070px;
    background-color: #fff;
}
.slide,.shakshuka-slide{
    display: flex;
}
.left,.right{
    background-color: black;
    color: #fff;
}