* {
    padding: 0;
    margin: 0;
    box-sizing: border-box\;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./Images/shawarma.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(15px);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

div {
    background-color: rgb(19, 43, 88);
    border-radius: 10px;
}

.ordered {
    height: 700px;
    width: 400px;
}

.done {
    height: 700px;
    width: 400px;
}

div h2 {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.422);
    width: 20%;
    height: 400px;
    border-radius: 10px;
}

#Sub {
    width: 50%;
    height: 20px;
    color: #fff;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

input[type=text] {
    background-color: rgb(22, 18, 63);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    height:25px;
    color: #fff;   
}
.h2Order{
    color: #fff;
    padding: 20px;
}