/* 2) შექმენით დივი რომელშიც გექნებათ მოთავსებული ქარდები თითოეულ ქარდში იქნება რაიმე ფოტო, ამ ქარდის სათაური და პატარა აღწერა, ეს ქარდები უნდა იყოს რისპონსივი გამოიყენეთ გრიდი */

body{
    display: grid;
    align-items: center;
    justify-items:center;
    /* grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 150px 150px 150px; */
    height: 100vh;
}
img{
    width: 200px;
}
.parent{
    grid-template-columns:repeat( auto-fill,) minmax(200px 1fr);
    display: grid;
    align-content:center;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 150px 150px 150px;
}