*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px 100.23px;

}
section div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 22.27px;
}
section h2 {
    font-size: 25.05px;
    line-height: 30.63px;
    font-weight: 600;
    color: #4D4D4D;
}
section p {
    color: #717171;
    font-weight: 400;
    font-size: 9.74px;
    line-height: 13.92px;
    max-width: 418px;
}
section button {
    border-radius: 2.78px;
    padding-top: 9.74px;
    padding-bottom: 9.74px;
    padding-right: 22.27px;
    padding-left: 22.27px;
    background-color: #4CAF4F;
    color: #FFF;
    border: none;
    font-size: 11.14px;
}