div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
    border-radius: 20px;
}
main{
    background-color:rgb(31, 31, 31);
    
}
button{
    background-color:rgb(51, 51, 51);
    border-radius: 15px;
    width: 100%;
    gap: 40px;
}
.id1{
    color: yellow;
}